<div class="body-page">
  {% include directory ~ '/templates/page/parts/preloader.html.twig' %}
  <section class="section-not-found">
    <div class="section-not-found__bg-img">
      <img loading="lazy" src="/{{ directory }}/img/404-desktop.png" alt="Not found" title="Not found" class="d-none d-md-block" />
      <img loading="lazy" src="/{{ directory }}/img/404-mobile.png" alt="Not found" title="Not found" class="d-block d-md-none" />
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-not-found__card">
            <span>error</span>
            <div class="section-not-found__img">
              <img src="/{{ directory }}/img/404.svg" alt="" />
            </div>

            <p>try reload this page or go back to homepage</p>
          </div>

          <a href="{{ path('<front>') }}"><i class="bi bi-arrow-left"></i> homepage</a>
        </div>
      </div>
    </div>
  </section>
</div>
