<div class="body-page">
  {% include directory ~ '/templates/page/parts/preloader.html.twig' %}
  {% include header_skin %}
  <section class="section-not-found">
    <div class="section-not-found__bg-img">
      <img loading="lazy" src="/{{ directory }}/img/404-desktop.png" alt="Not authorized" title="Not authorized" class="d-none d-md-block" />
      <img loading="lazy" src="/{{ directory }}/img/404-mobile.png" alt="Not authorized" title="Not authorized" class="d-block d-md-none" />
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-not-found__card">
            <p>You are not authorized to access this page</p>
          </div>
          <a href="{{ path('<front>') }}"><i class="bi bi-arrow-left"></i> homepage</a>
        </div>
      </div>
    </div>
  </section>
  {% include directory ~ '/templates/page/footer.html.twig' %}
</div>
